div.animation-wrapper
  img(src="./images/logo-plain.svg").logo-plain
  img(src="./images/logo-outline-animated.svg").logo-animate
  
header.shadow
  ul
    img(src="./images/logo-plain-no-isolation.svg")
    a(href="#"): li だれ
    a(href="#"): li 作品
    a(href="#"): li 依頼

main
  
  div.title-container.free-width
    div.title-wrapper
      h2 自己紹介
  
  div.title-container.free-width
    div.title-wrapper
      h2 記事一覧
      
      
  div.articles-container
    div.article-card
       img(src="./images/profile.jpg")
       h3 ブログ始めました。
       p 基本的にゴミ溜めになると思うのであんまり期待しないでね。
       a(href="#").article-link 読む
         
    div.article-card
       a(href="#"): img(src="./images/profile.jpg")
       h3 ブログ始めました。
       p 基本的にゴミ溜めになると思うのであんまり期待しないでね。
       a(href="#").article-link 読む
         
    div.article-card
       a(href="#"): img(src="./images/profile.jpg")
       h3 ブログ始めました。
       p 基本的にゴミ溜めになると思うのであんまり期待しないでね。
       a(href="#").article-link 読む
         
    div.article-card
       a(href="#"): img(src="./images/profile.jpg")
       h3 ブログ始めました。
       p 基本的にゴミ溜めになると思うのであんまり期待しないでね。
       a(href="#").article-link 読む
    
    div.article-card
       a(href="#"): img(src="./images/profile.jpg")
       h3 ブログ始めました。
       p 基本的にゴミ溜めになると思うのであんまり期待しないでね。
       a(href="#").article-link 読む
  

script(src="./jquery-3.2.1.min.js")
script(src="./main.js")