@import "variables";
@import "header";
@import "option";

*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Klee', '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: 500;
}

body{
  margin: 0px;
}

.animation-wrapper{
  position: fixed;
  overflow: hidden;
  transition: 0.4s ease;
  z-index: 2;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  
  .logo-plain{
    opacity: 0;
  }
  
  img{
    position: absolute;
    transition: 1.5s ease;
    width: 400px;
    object-fit: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.removed{
  opacity: 0;
  pointer-events: none;
}

main{
  box-sizing: border-box;
  padding-top: 80px;
  
  .title-container{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #fafafa;
    
    .title-wrapper{
      position: relative;
      display: block;
      margin: 0px auto;
      box-sizing: border-box;
      max-width: $break-large;
      
      @media screen and (max-width: $break-small){
        padding: 0px 20px 0px 20px;
      }
      
      h2{
        display: inline-block;
        text-align: center;
        line-height: 100px;
        margin: 0px;
        width: 100%;
        vertical-align: top;
        font-weight: 600;
      }
    }
  }
  
  .articles-container{
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: 740px;
    padding-top: 50px;
    
    @media screen and (max-width: $break-large){
      width: 350px;
    }
    
    .article-card{
      @media screen and (max-width: $break-large){
        width: 300px;
        margin: 20px auto;
      }
      
      @extend .shadow;
      position: relative;
      display: inline-block;
      overflow: hidden;
      border-radius: 20px;
      margin: 10px 20px;
      width: 330px;
      height: 400px;
      transition: 0.2s ease;
      
      *{
        text-align: left;
      }
      
      img{
        background-color: #ffffff;
        object-fit: cover;
        object-position: top center;
        height: 65%;
        width: 100%;
        cursor: pointer;
        transition: 0.2s ease;
        filter: saturate(0%);
        
        &:hover{
          filter: saturate(100%);
        }
      }
      
      h3{
        font-size: 1.1em;
        margin: 2px 0 0 0;
        padding: 0px 20px 0px 20px;
      }
      
      p{
        @extend h3;
        margin-top: 5px;
        font-size: 0.9em; 
      }
      
      .article-link{
        position: absolute;
        font-size: 0.8em;
        color: #1976d2;
        text-decoration: none;
        right: 15px;
        bottom: 5px;
      }
    }
  }
}
